<div class="w3-padding general">
    <div [hidden]="isHidden">
        <img [src]="cocktail.img" width="100px"/>
        <div [ngClass]="nameClass" [ngStyle]="nameStyle">{{ cocktail.name | uppercase }}</div>
        <div [ngStyle]="{ 'background-color': 'lightgray' }">{{ cocktail.description }}</div>
        <ng-container *ngIf="false">
            <input [(ngModel)]="inputValue" />{{ inputValue }}
        </ng-container>
        <button class="w3-button w3-blue" (click)="onClick()">Change</button>
    </div>
</div>
