<header class="w3-cell-row general">
    <div class="w3-cell w3-cell-middle">
        <span class="w3-padding"><img [src]="logoPath" width="100px" /></span>
        <span class="w3-padding"><a routerLink="/home" routerLinkActive="gras">All</a></span>
        <span class="w3-padding"><a routerLink="/with" routerLinkActive="gras">Avec alcool</a></span>
        <span class="w3-padding"><a routerLink="/without" routerLinkActive="gras">Sans alcool</a></span>
        <span class="w3-padding"><a routerLink="/finances" routerLinkActive="gras">Finances</a></span>
    </div>
</header>