<div class="w3-col general" style="overflow: auto">
    <form (ngSubmit)="submit()" [formGroup]="searchForm">
        Nom du cocktail: <input formControlName="cocktailName">
        <button>Chercher</button>
    </form>
    {{ lastCocktail }}
    <ng-container *ngIf="displayedCocktails.length > 0">
        <ng-container *ngFor="let item of displayedCocktails">
            <app-cocktail [cocktail]="item" (eventOut)="onEvent($event)"></app-cocktail>
        </ng-container>
    </ng-container>
</div>