<header class="w3-cell-row" style="height: 8%; background-color: lightgray;">
    <div class="w3-cell w3-cell-middle">
        <span class="w3-padding">Tous</span>
        <span class="w3-padding">Avec alcool</span>
        <span class="w3-padding">Sans alcool</span>
    </div>
</header>
<content class="w3-col" style="width:100%; height: 84%; background-color: darkcyan;">
    <div class="w3-padding" style="background-color: orange;">
        Mojito
    </div>
    <div class="w3-padding" style="background-color: orange;">
        Margarita
    </div>
    <div class="w3-padding" style="background-color: orange;">
        Cuba libre
    </div>
    <div class="w3-padding" style="background-color: orange;">
        Virgin Mojito
    </div>
</content>
<footer class="w3-cell-row" style="width: 100%; height: 8%; background-color: lightgray">
    <div class="w3-container w3-cell w3-cell-middle w3-center">
        Footer
    </div>
</footer>