<header>
    <div style="width:100%; background-color: rgb(242, 109, 60); color: white; padding-top: 10px;">
        <div class="row">
            <div class="col-2 d-flex justify-content-center"><img src="/assets/logo.svg" height="30px" /></div>
            <div class="col-8">
                <div class="row">
                    <div class="col-4 d-flex justify-content-end">Accueil</div>
                    <div class="col-4 d-flex justify-content-center">Les cocktails avec alcool</div>
                    <div class="col-4 d-flex justify-content-start">Les cocktails sans alcool</div>
                </div>
            </div>
            <div class="col-2 d-flex justify-content-center">A propos</div>
        </div>
    </div>
</header>

<content>
    <div style="width:100%; background-color: rgb(242, 109, 60); color: white; padding: 40px 0px 40px 0px">
        <div class="row">
            <div class="col-2 d-flex justify-content-end">
                <img src="/assets/spritz.jpg"  height="100px" />
            </div>
            <div class="col-8 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center" style="font-size: x-large;">Bienvenue dans la plus belle application de Cocktail du monde</div>
                    <div class="col-12 d-flex justify-content-center" style="font-size: large;">Le seul soucis, c'est que ce que l'on voit n'est pas de l'Angular</div>
                    <div class="col-12 d-flex justify-content-center" style="font-size: large;">Mais on va trouver une solution...</div>
                </div>
            </div>
            <div class="col-2 d-flex justify-content-start">
                <img src="/assets/spritz.jpg"  height="100px" />
            </div>
        </div>
    </div>
        
    <div class="row" style="padding: 25px 0px 25px 0px; background-color: rgb(222, 217, 215)">
        <div class="col-12 d-flex justify-content-center" style="font-size: large; padding-bottom: 25px;">
            <span style="font-size: large;">Les classiques</span>
        </div>
        <div class="row" style="width:100%">
            <div class="col-3 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center"><img src="/assets/mojito.jpg" height="200px" /></div>
                    <div class="col-12 d-flex justify-content-center">Mojito</div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center"><img src="/assets/margarita.jpg" height="200px" /></div>
                    <div class="col-12 d-flex justify-content-center">Margarita</div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center"><img src="/assets/sexonthebeach.jpg" height="200px" /></div>
                    <div class="col-12 d-flex justify-content-center">Sex on the beach</div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center"><img src="/assets/cubalibre.jpg" height="200px" /></div>
                    <div class="col-12 d-flex justify-content-center">Cuba libre</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding: 25px 0px 25px 0px; background-color: rgb(245, 230, 220)">
        <div class="col-12 d-flex justify-content-center" style="font-size: large; padding-bottom: 25px;">
            <span style="font-size: large;">Les sans alcool</span>
        </div>
        <div class="col-3 d-flex justify-content-center"></div>
        <div class="col-3 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center"><img src="/assets/virginmojito.jpg" height="200px" /></div>
                    <div class="col-12 d-flex justify-content-center">Virgin mojito</div>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <div class="row">
                <div class="col-12 d-flex justify-content-center"><img src="/assets/holloweenpunch.jpg" height="200px" /></div>
                <div class="col-12 d-flex justify-content-center">Holloween Punch</div>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-center"></div>
    </div>
</content>

<footer style="width:100%; background-color: rgb(242, 109, 60); color: white; padding: 10px;">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            A faire en Angular v16 en attendant l'arrivée de la v17
        </div>
    </div>
</footer>