<header>
    <div style="background-color: rgb(242, 109, 60); color: white; padding: 10px 0px 10px 0px;">
        <div class="row">
            <div class="col-2 d-flex justify-content-center"><img src="/assets/logo.svg" height="30px" /></div>
            <div class="col-8">
                <div class="row">
                    <div class="col-4 d-flex justify-content-center"><a href="#">Accueil</a></div>
                    <div class="col-4 d-flex justify-content-center"><a href="#">Les cocktails avec alcool</a></div>
                    <div class="col-4 d-flex justify-content-center"><a href="#">Les cocktails sans alcool</a></div>
                </div>
            </div>
            <div class="col-2 d-flex justify-content-center"><a href="#">A propos</a></div>
        </div>
    </div>
</header>

<content>
    <div style="background-color: rgb(242, 109, 60); color: white; padding: 40px 0px 40px 0px">
        <div class="row">
            <div class="col-2 d-flex justify-content-end">
                <img src="/assets/spritz.jpg"  height="100px" />
            </div>
            <div class="col-8 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center" style="font-size: x-large;">Bienvenue dans la plus belle application de Cocktail du monde</div>
                    <div class="col-12 d-flex justify-content-center" style="font-size: large;">Le seul soucis, c'est que ce que l'on voit n'est pas de l'Angular</div>
                    <div class="col-12 d-flex justify-content-center" style="font-size: large;">Mais on va trouver une solution...</div>
                </div>
            </div>
            <div class="col-2 d-flex justify-content-start">
                <img src="/assets/spritz.jpg"  height="100px" />
            </div>
        </div>
    </div>
        
    <div style="padding: 25px 0px 25px 0px; background-color: rgb(222, 217, 215)">
        <div class="row">
            <div class="col-12 d-flex justify-content-center" style="font-size: large; padding-bottom: 25px;">
                <span style="color: rgb(242, 109, 60); font-size: large; font-weight: bold;">Les classiques</span>
            </div>
            <div class="row">
                <div class="col-3 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center"><img class="grows" src="/assets/mojito.jpg" height="200px" /></div>
                        <div class="col-12 d-flex justify-content-center">Mojito</div>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center"><img class="grows" src="/assets/margarita.jpg" height="200px" /></div>
                        <div class="col-12 d-flex justify-content-center">Margarita</div>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center"><img class="grows" src="/assets/sexonthebeach.jpg" height="200px" /></div>
                        <div class="col-12 d-flex justify-content-center">Sex on the beach</div>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center"><img class="grows" src="/assets/cubalibre.jpg" height="200px" /></div>
                        <div class="col-12 d-flex justify-content-center">Cuba libre</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 25px 0px 25px 0px; background-color: rgb(245, 230, 220)">
        <div class="row">
            <div class="col-12 d-flex justify-content-center" style="font-size: large; padding-bottom: 25px;">
                <span style="color: rgb(242, 109, 60); font-size: large; font-weight: bold;">Les sans alcool</span>
            </div>
            <div class="col-3 d-flex justify-content-center"></div>
            <div class="col-3 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center"><img class="rotate" src="/assets/virginmojito.jpg" height="200px" /></div>
                        <div class="col-12 d-flex justify-content-center">Virgin mojito</div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center"><img class="rotate" src="/assets/holloweenpunch.jpg" height="200px" /></div>
                    <div class="col-12 d-flex justify-content-center">Holloween Punch</div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center"></div>
        </div>
    </div>

</content>

<footer style="background-color: rgb(242, 109, 60); color: white; padding: 10px 0px 10px 0px;">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            A faire en Angular v16 en attendant l'arrivée de la v17
        </div>
        <div class="col-12 d-flex justify-content-center" style="padding-top: 10px;">
            <img src="/assets/logo-micropole.svg" height="15px" />
        </div>
    </div>
</footer>